h1 {
  color: #ffce8f;
  font-size: 2rem;
  text-align: center; 
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header
{
    background: rgb(144, 201, 91);
    color: rgb(39, 18, 0);
    padding: 3rem;
}

body
{
    background-color: #1e5535;
}

section
{
    padding: 3rem;
}

section + section
{
    border-top: 2px solid #ccc;
}

h2
{
      color: #66886f;
  text-align: center; 
}

p{
    color: blueviolet;
}

section#Aboutme {
    padding-top: 220px;
}

.topbanner
{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e5535;
    color: white;
    z-index: 1000;
    padding: 20px;

    display: flex;
    flex-direction: column; /* stack h1, h2, nav vertically */
    align-items: center;    /* center content horizontally */
}

.navbar
{
    justify-content: center;
    display: flex;
}

.navbar_links
{
    list-style: none;
    display: flex;
    gap: 2rem;
    text-decoration: none;
    color: #3ec25a;
}

.navbar_links a
{
    text-align: center;
    text-decoration: none;
    color: #3ec25a;
}

.navbar_links a:hover
{
    color: #4a4dff;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  padding: 2rem;
}

.card {
  background: white;
  padding: 1.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}